@model List<IDescribable>

<div class="main-content">
    <h2>👩‍💼 Customer List</h2>
    <hr />

    <ul>
        @foreach (var customer in Model)
        {
            <li>@customer.Describe()</li>
        }
    </ul>
</div>
