@{
    var CustomerList = ViewBag.CustomerList as List<PRELIM_LAB3_BSIT31A2_Bianca_Dollente.Models.Customer>;
}
<div>
    <h1>👩🏻‍💼Customer List</h1>
    <hr />
    <ul>
        @foreach (var customer in CustomerList)
        {
            if (customer is PRELIM_LAB3_BSIT31A2_Bianca_Dollente.Models.PremiumCustomer vip)
            {
                <li>@vip.Describe()</li>
            }
            else
            {
                <li>@customer.Describe()</li>
            }
        }
        </ul>
</div>
